

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size:100px;
  color: khaki;
  font-weight: bold;;
}
h1, h2, h3, p {
  font-family: Helvetica;
}
.item h2{
  color: white;
  font-weight: bold;
  font-size: 32px;
}
#brush{
  background-color: mediumseagreen;
}
h3{
  font-size: 25px;
}
.price{
  color: blue;
  font-weight: bold;
}
#frame{
  background-color: lightcoral;
  color: white;
}
#paint{
  background-color: skyblue;
}
